
.DS_Store
Thumbs.db
*.swp


.env
.env.local
.env.*.local
*.pem
*.key


node_modules/
jspm_packages/
bower_components/
vendor/
.venv/
env/
venv/


dist/
build/
out/
*.exe
*.dll
*.so
*.class


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


*.zip
*.tar.gz
*.mp4
*.exe
*.dmg
*.iso


hp_models/